amqp==5.3.1
annotated-types==0.7.0
asgiref==3.8.1
billiard==3.6.4.0
boto3==1.38.10
botocore==1.38.10
celery==5.2.3
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cron-descriptor==1.4.5
Django==5.2.1
django-celery-beat==2.8.1
django-cors-headers==4.3.1
django-jazzmin==3.0.1
django-ninja==1.4.1
django-payments==3.0.1
django-payments-redsys==0.6.0
django-phonenumber-field==8.1.0
django-ratelimit==4.1.0
django-storages==1.14.6
django-timezone-field==7.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
dnspython==2.7.0
email_validator==2.2.0
GDAL==3.10.3
gunicorn==23.0.0
idna==3.10
jmespath==1.0.1
kombu==5.5.4
packaging==25.0
phonenumberslite==9.0.8
pillow==11.2.1
prompt_toolkit==3.0.51
psycopg==3.2.7
pycrypto==2.6.1
pycryptodome==3.23.0
pydantic==2.11.4
pydantic_core==2.33.2
pyDes==2.0.1
PyJWT==2.9.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-redsys==1.2.0
pytz==2025.2
redis==3.5.3
redsys==0.2.7
requests==2.32.3
s3transfer==0.12.0
six==1.17.0
sqlparse==0.5.3
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.9.0
zipp==3.23.0
django-formtools==2.4
